.footer
    .footer-text-container 
        a.list-item#howItWorks How it works
        p.list-item.line |
        a.list-item#contactUs Contact us
        p.list-item.line |
        a.list-item#findEvents Find events
        p.list-item.line |
        a.list-item#faqs FAQs 


