.footer
    .footer-text-container 
        a.list-item(href='/how-it-works') How it works
        p.list-item.line |
        a.list-item(href='/contact-us') Contact us
        p.list-item.line |
        a.list-item(href='/find-events') Find events
        p.list-item.line |
        a.list-item(href='/FAQs') FAQs 


