.footer
    .footer-text-container 
        .list
            a.list-item How it works 
            a.list-item Contact us 
            a.list-item FAQs 
            a.list-item Find events 
            a.list-item About


