nav.header
    a.header-logo-container(href="/")
        img.logo(src='../assets/Eventify-dark.png' alt="Logo")
    form.event-search-form(role="search")
        input.event-search-input(type="search" placeholder="Search events" autofocus)
        button.event-search-button(type="submit")
            img.event-search-icon(src='../assets/search-icon.svg')

    .menu-container
        a.link
            h3.link-text Whats On
        a.link
            h3.link-text Featured Events
        .user-container
            .signIn-container
                a.link.sign-in-text 
                    h3.link-text Sign In/Up