nav.header
    .logo-container
        a.link(href="/")
            img.logo(src='../assets/logo.png' alt="Logo")
    .menu-container
        a.link(href="/find-events")
            h3 WHATS ON
    if user 
        .user-container
            .dropdown
                img.dropdown-button(src='../assets/User.svg' alt="Logo")
                .dropdown-content 
                    a.dropdown-link(href='/myaccount') 
                        h3 MY ACCOUNT
                    a.dropdown-link#logout 
                        h3 SIGN OUT
    else
        .signIn-container
            a.link(href='login') 
                h3 SIGN IN/UP