extends base

block homepage 
    .home-page
        if user
            h1 Home page
            h1= `you are logged in ${user.firstName}`
        else
            .splash-screen
                .landing-container
                    .title-container
                        h1.title Your Next Social Event Awaits...
                            p.subtitle With plenty of free and paid events all over the world, there is something for everyone!
                        button.splash-sign-up Sign up for Eventify
            //+pleaseLogIn()
