extends base

block landing-page
    .landingPage
        .landing-content-container.panel-background-one
            .title-text
                h1.title Eventify
                p.subtext Create or find your next event for free!
            img.landing-image(src='../assets/festival.jpg' alt="festival")
        .landing-content-container.panel-background-two
            img.landing-image(src='../assets/eventResearch.jpg' alt="planning")
            .title-text
                span.info-title-container
                    .create-image
                    h1.sub-title Create Or Find An Event
                p.subtext Search for events near you or create your own!
        .landing-content-container.panel-background-one
            .title-text
                span.info-title-container
                    .planner-image
                    h1.sub-title Add Events To Your Planner
                p.subtext Keep track of your upcoming events!
            img.landing-image(src='../assets/planning.jpg' alt="planning")
        .landing-content-container.panel-background-two
            img.landing-image(src='../assets/sharing-friends.jpg' alt="planning")
            .title-text
                span.info-title-container
                    .share-image
                    h1.sub-title Share Your Events
                p.subtext Let others know about the events you have created or are interested in!

