extends base

block signInForm
    //- .login-container-body
    //-     .container#signupcontainer
    //-         .form-container.sign-up-container
    //-             form.signUpForm
    //-                 h1 Create Account
    //-                 span Please use your email for registration
    //-                 input#signUpFName(type='First Name', placeholder='First Name', required)
    //-                 input#signUpLName(type='Last Name', placeholder='Last Name', required)
    //-                 input#signUpEmail(type='email', placeholder='you@example.com', required)
    //-                 input#signUpPassword(type='password', placeholder='password', required, minlength='8')
    //-                 input#signUpPasswordConfirm(type='password', placeholder='confirm password', required, minlength='8')
    //-                 button Sign Up
    //-         .form-container.sign-in-container
    //-             form.loginForm
    //-                 h1 Sign In
    //-                 input#signInEmail(type='email', name='email', placeholder='you@example.com', required)
    //-                 input#signInPassword(type='password', name='password', placeholder='password', required, minlength='8')
    //-                 a(href='/api/v1/users/resetpassword') Forgot your password?
    //-                 button Sign In
    //-         .overlay-container 
    //-             .overlay 
    //-                 .overlay-panel.overlay-left
    //-                     h1 Welcome Back! 
    //-                     p Please log in
    //-                     button.ghost#signIn Sign In 
    //-                 .overlay-panel.overlay-right
    //-                     h1 Hello friend! 
    //-                     p Enter your personal details and start your journey with us! 
    //-                     button.ghost#signUp Sign Up


