extends base

block splashpage
    .splash-screen
        .landing-container
            .title-container
                h1.title Your Next Social Event Awaits...
                    p.subtitle With plenty of free and paid events all over the world, there is something for everyone!
            .landing-image-container 
                .landing-image-div
                    img.landing-image(src='../assets/splashscreen.jpg' alt="splashscreen-image")
        .infos-container
            .info-container 
                h1.advert-text Educational Classes
                i.icon &#10003
            .info-container 
                h1.advert-text Concerts
                i.icon &#10003
            .info-container 
                h1.advert-text Nature Tours
                i.icon &#10003
            .info-container 
                h1.advert-text Social Meetups
                i.icon &#10003
            .info-container 
                h1.advert-text And much more!!
        .overview-container 
            .overview-title Create or Find Your Next Event
            .overview-content
        .overview-container 
            .overview-content
            .overview-title Add Events To Your Planner
        .overview-container 
            .overview-title Share Your Events
            .overview-content

