extends base

block splash 
    .splash-screen
        .landing-container
            .content-container
                h1.title Your Next Event Awaits...
                div#arrow-wrapper
                    .arrow-border   
                        .arrow.down 
                        .pulse
        .information-container
            .information    
                img.landing-image(src='../assets/festival.jpg' alt="festival")
                .splash-text
                    span.info-title-container
                        .create-image
                        h1.title Create Or Find Your Next Event
                    p.description Search for events near you! From concerts to nature tours to friendly meet-ups with like-minded folk, there is something for everyone! Can't find something you like? Create your own event! With our event template builder you can quickly and easily build your own events!
            .information    
                img.landing-image(src='../assets/festival.jpg' alt="festival")
                .splash-text
                    span.info-title-container
                        .planner-image
                        h1.title Create Or Find Your Next Event
                    p.description Search for events near you! From concerts to nature tours to friendly meet-ups with like-minded folk, there is something for everyone! Can't find something you like? Create your own event! With our template builder you can quickly and easily build your own events!
            .information
                img.landing-image(src='../assets/festival.jpg' alt="festival")
                .splash-text
                    span.info-title-container
                        .share-image
                        h1.title Create Or Find Your Next Event
                    p.description Search for events near you! From concerts to nature tours to friendly meet-ups with like-minded folk, there is something for everyone! Can't find something you like? Create your own event! With our template builder you can quickly and easily build your own events!


