extends base

block splash 
    .splash-screen
        .landing-container
            .content-container
                h1.title Your Next Event Awaits...
                div#arrow-wrapper
                    .arrow-border   
                        .arrow.down 
                        .pulse
        .information-container

