@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

:root {
    --header-colour:#455A64;
    --title-colour:#212121;
    --subtext-colour: #757575;
}

a{
    text-decoration: none;
}

.landingPage{background: whitesmoke}
.panel-background-one{background-color: #CFD8DC;}
.panel-background-two{background-color: whitesmoke;}
.landingPage .landing-content-container{display: flex;height: 50vh;}

.landingPage .landing-content-container .title-text{display: flex; flex-direction: column; width: 50%; justify-content: center;align-items: center;}
.landingPage .landing-content-container .title-text .title{color: var(--title-colour);font-size: 5rem; margin: 0;}
.landingPage .landing-content-container .title-text .subtext{color: var(--subtext-colour);font-size: 1.25rem; margin: 0;padding: 5px 100px; text-align: center;}
.landingPage .landing-content-container .landing-image{width: 50%; height:100%}
.landingPage .landing-content-container .title-text .info-title-container{display: flex;align-items: center;}
.landingPage .landing-content-container .title-text .info-title-container .create-image{width:35px; height:40px; background-image: url('../assets/create.svg'); background-repeat: no-repeat;padding-right: 5px;}
.landingPage .landing-content-container .title-text .info-title-container .planner-image{width:35px; height:40px; background-image: url('../assets/bookmark.svg'); background-repeat:no-repeat ;padding-right: 5px;}
.landingPage .landing-content-container .title-text .info-title-container .share-image{width:35px; height:40px; background-image: url('../assets/share.svg'); background-repeat:no-repeat ;padding-right: 5px;}
.landingPage .landing-content-container .title-text .info-title-container .sub-title{color: var(--title-colour); font-size: 2.5rem; margin:0}
