@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{/*font-family: 'Montserrat', sans-serif;*/ margin: 0;display: flex;flex-direction: column;height: 100vh;overflow: hidden;}
.home-page{flex:1;overflow: auto;}

/* root styles */
:root {font-size: 18px;--dark-grey: #2D2B34; --purple-grey: #7C688A; --orange-red: #9F5E45; --brown-orange: #BF9467; --grey-white: #F6F7F6;}
p{margin:0}
a{text-decoration: none;}
a:visited{color:black;}
i{font-style: normal;}

/* Custom alerts */
.alert{animation: slidein 1s;position: fixed;width: 50vw;height: 100px;display: flex;align-items: center;justify-content: center;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);z-index: 9999;color: #fff;font-size: 1.25rem;font-weight: 400;text-align: center;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;-webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);}
.alert--success {background-color: #20bf6b;}
.alert--error {background-color: #f85552;}

@keyframes slidein {
    from {top: -100px;}
    to {top: 0px;}
}

/* custom scrollbar */
::-webkit-scrollbar {width: 10px}
::-webkit-scrollbar-track {background-color: var(--dark-grey)}
::-webkit-scrollbar-thumb {background-color: var(--orange-red);border-radius: 20px;background-clip: content-box;}
::-webkit-scrollbar-thumb:hover {background-color: var(--purple-grey);}

/* Modal */
.modal-container{position: absolute; inset: 0;background:rgba(34,34,34,.89); display: flex; justify-content: center;align-items: center;}
.modal-container .modal{-webkit-animation-name: modalOpen;animation-name: modalOpen;-webkit-animation-duration: .75s;animation-duration: .75s;background-color: whitesmoke;height: fit-content;min-height: 15vh;width: fit-content;padding: 10px;border-radius: 15px;display: flex;
    flex-direction: column;justify-content: center;}
.modal-container .modal .buttons-container{display: flex; justify-content: space-evenly;}
.modal-container .modal .modal-message{margin:20px; padding-bottom: 20px;}

/* Custom button */
.button{border: none;display: flex; align-items: center; padding: 0;cursor: pointer; -webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; border-radius: 10px;}
.button .button-text{padding: 10px;font-weight: 700;font-size: 0.8rem;}
.button .button-icon-container{height: 100%; display: flex;align-items: center;font-size: 1rem;padding:0 10px;border-top-left-radius:10px;border-bottom-left-radius: 10px;}
.button:hover {filter: brightness(85%);}

/* Spinner */
.spinner-container{inset: 0;position: absolute;z-index: 1000;background-color: whitesmoke;height: 100%;width: 100%;opacity: 0.6;display: flex;justify-content: center;align-items: center;}
.spinner-container .spinner {display: inline-block;position: relative;width: 80px;height: 80px;}
.spinner-container .spinner .spinner-section {animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;transform-origin: 40px 40px;}
.spinner-container .spinner .spinner-section:after {content: " ";display: block;position: absolute;width: 7px;height: 7px;border-radius: 50%;background: rgb(0, 0, 0);margin: -4px 0 0 -4px;}
.spinner-container .spinner .spinner-section:nth-child(1) {animation-delay: -0.036s;}
.spinner-container .spinner .spinner-section:nth-child(1):after {top: 63px;left: 63px;}
.spinner-container .spinner .spinner-section:nth-child(2) {animation-delay: -0.072s;}
.spinner-container .spinner .spinner-section:nth-child(2):after {top: 68px;left: 56px;}
.spinner-container .spinner .spinner-section:nth-child(3) {animation-delay: -0.108s;}
.spinner-container .spinner .spinner-section:nth-child(3):after {top: 71px;left: 48px;}
.spinner-container .spinner .spinner-section:nth-child(4) {animation-delay: -0.144s;}
.spinner-container .spinner .spinner-section:nth-child(4):after {top: 72px;left: 40px;}
.spinner-container .spinner .spinner-section:nth-child(5) {animation-delay: -0.18s;}
.spinner-container .spinner .spinner-section:nth-child(5):after {top: 71px;left: 32px;}
.spinner-container .spinner .spinner-section:nth-child(6) {animation-delay: -0.216s;}
.spinner-container .spinner .spinner-section:nth-child(6):after {top: 68px;left: 24px;}
.spinner-container .spinner .spinner-section:nth-child(7) {animation-delay: -0.252s;}
.spinner-container .spinner .spinner-section:nth-child(7):after {top: 63px;left: 17px;}
.spinner-container .spinner .spinner-section:nth-child(8) {animation-delay: -0.288s;}
.spinner-container .spinner .spinner-section:nth-child(8):after {top: 56px;left: 12px;}

.spinner-container.custom{background-color: unset; position: unset;padding-top: 50px;}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Search form */
.event-search-form{width: 25%;display: flex;margin: 0 50px;height: 40px;}
.event-search-form .event-search-input{flex: 1;border-bottom-left-radius: 5px;border-top-left-radius: 5px;padding: 10px 15px;border: none;}
.event-search-form .event-search-input:focus-visible{outline: none;}
.event-search-form .event-search-button{width:40px;padding: 0;border-top-right-radius: 5px; border-bottom-right-radius: 5px;border: none;background-color: white; cursor: pointer;}
.event-search-form .event-search-icon{transition: all .2s ease-in-out;padding: 10px;}
.event-search-form .event-search-icon:hover{transform: scale(1.3);}

.event-search-form.upcoming-events-search{width: unset;border: 1px solid black;border-radius: 10px;}
.event-search-form .event-search-input.upcoming-events-search{border-radius: 10px;}
.event-search-form .event-search-button.upcoming-events-search{border-radius: 10px;}

/* new landing page */
.splash-screen{height: 100%;display: flex;flex-flow: column;}
.splash-screen .landing-container{position: relative;background-color: var(--dark-grey);display: flex;justify-content: center;align-items: center;flex: 1 1 auto;}
.splash-screen .landing-container:before{background-image: url('../assets/splashscreen.jpg');background-repeat: no-repeat;background-size: 100% 100%; opacity:0.2;content: ' ';position: absolute;width: 100%;height: 100%;z-index: 0;}
.splash-screen .landing-container .title-container{width: 60%;display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 20px;text-align: center;z-index: 1;}
.splash-screen .landing-container .title-container .title{color: var(--grey-white);font-size: 3rem;margin: 0;display: flex;flex-direction: column;gap: 10px;}
.splash-screen .landing-container .title-container .subtitle{color: var(--dark-blue); font-size: 1.25rem;}
.splash-screen .landing-container .title-container .splash-sign-up{border-radius: 15px; border: 3px solid var(--brown-orange); background-color: var(--purple-grey);color:var(--grey-white);padding: 10px; font-size: 1.25rem;cursor: pointer;font-family: inherit;}
.splash-screen .landing-container .title-container .splash-sign-up:hover{filter: brightness(85%)}

/* Logged In Home Page */
.logged-in-home{height: 100%;display: flex;}
.logged-in-home .upcoming-events{height: 100%;width: 20%;min-width: 250px;max-width: 500px;border-right: 2px solid var(--purple-grey);background-color: white;}
.logged-in-home .recommended-events{background-color: whitesmoke;/* width: -moz-available;/* WebKit-based browsers will ignore this. width: -webkit-fill-available;*/flex: 1;display: flex;flex-direction: column;align-items: center;padding: 0 20px;}

/* Recommended Events Widget */
.recommended-events .welcome-message{font-size: 1.5rem; color: var(--dark-grey);margin-top: 50px;margin-bottom: 0px;}
.recommended-events .recommended-events-container{width: 100%; display: flex;gap: 40px;flex-wrap: wrap;overflow: auto;justify-content: center;margin-top: 10px;padding: 10px 0;}
.recommended-events .recommended-events-container .recommended-event-container{height: 225px;background-color:white;min-width: 500px;width: 80%; border-radius: 20px;display: flex; overflow: hidden; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);cursor: pointer;}
.recommended-events .recommended-events-container .recommended-event-container:hover{ transform: scale(1.02); transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);}
.recommended-events .recommended-events-container .recommended-event-container .event-type-image{border-top-left-radius: 20px; border-bottom-left-radius: 20px; min-width: 175px;max-width: 250px;width: 25%;}
.recommended-events .recommended-events-container .recommended-event-container .event-info-container{flex: 1;font-size: 0.85rem;display: flex;flex-direction: column;align-items: center;}
.recommended-events .recommended-events-container .recommended-event-container .event-info-container .event-info-title{text-align: center;margin: 10px 0 10px 0;font-size: 1.25rem;}
.recommended-events .recommended-events-container .recommended-event-container .event-info-container .event-info{display: flex;flex-direction: column;align-items: center;background-color: var(--grey-white);border-radius: 20px;width: 85%;padding: 15px;margin-bottom:15px;overflow: auto;}
.recommended-events .recommended-events-container .recommended-event-container .event-info-container .event-info .event-date{color: var(--orange-red);}
.recommended-events .recommended-events-container .recommended-event-container .event-info-container .event-info .event-meta-data{text-align: center;}
.recommended-events .recommended-events-container .recommended-event-container .event-buttons{width: 100px;}

svg.heart-svg{height: 35px;}
svg.heart-svg .heart{fill: transparent;stroke: #a00;stroke-width: 6;transition: all .6s ease-out;}
svg.heart-svg .heartEX{fill: none;stroke: transparent;transform-box: border-box;transform-origin:50% 50%;stroke-width: 12px;transform: scale(.5);transition:none;}
svg.heart-svg.on .heartEX{transform: scale(2);opacity:0;stroke: #c00;transform-box: border-box;transform-origin:50% 50%;transition: transform, stroke, opacity;transition-duration: .6s, .01s, .4s;transition-delay: 0s, 0s, .2s;}
svg.heart-svg.on .heart{fill: #a00;}


/* Upcoming Events Widget */
.upcoming-events .upcoming-title-container{background-color: var(--dark-grey); margin: 10px;border-radius: 10px;}
.upcoming-events .upcoming-title-container .upcoming-events-title{margin: 0;font-size: 1.3rem;color: white;text-align: center;padding: 10px 0;}

@media screen and (max-width: 950px) {
    .upcoming-events{display: none;}
}

/* My account settings page */
.my-account-page{background: whitesmoke; height: 89vh;}
.my-account-page .page-content{display: flex;height: 100%; overflow: hidden;}
.my-account-page .page-content .options-container{border-right: 2px solid gainsboro; min-width: 325px; height:100%; background: rgb(95,171,161);background: linear-gradient(308deg, rgba(95,171,161,1) 0%, rgba(32,212,77,1) 100%);}
.my-account-page .page-content .options-container .options-list{ display: flex;flex-direction: column; height: fit-content; justify-content: space-between;padding-left: 25px;padding-top: 25px; margin-top: 0;}
.my-account-page .page-content .options-container .options-list .option-container{display: flex;align-items: center;width:250px;padding:10px}
.my-account-page .page-content .options-container .options-list .option-container:hover{cursor: pointer; border-bottom: 2px solid orange;}
.my-account-page .page-content .options-container .options-list .option-container .logo{height: 25px; width:  25px;padding-right: 5px;}
.my-account-page .page-content .options-container .options-list .option-container .option{font-size: 1.1rem;color: black;}

.my-account-page .page-content .edit-profile-container{width:0%;position: relative;bottom: 0;left: 100%;right: 0;overflow: hidden;height: 100%;transition: .5s ease;}
.my-account-page .page-content .edit-profile-container .edit-profile-content{height: 100%;overflow: auto;}
.my-account-page .page-content .edit-profile-container .edit-profile-content .edit-profile-title{color:rgb(29,183,95); padding-left: 25px; padding-top: 30px;margin-bottom:5px; font-size: 1.5rem}

/* Account settings details form */
.form-container{width: 100%; display: flex; justify-content: flex-start;}
.form-container .my-account-details-form{width:725px; padding-left: 25px;}
.form-container .my-account-details-form .user-image-container{display: flex; justify-content: center;margin: 20px 0;}
.form-container .my-account-details-form .user-image-container .user-image{border-radius: 50%;height: 11.5rem;}
.form-container .my-account-details-form .user-image-text{margin-bottom: 30px;border-bottom: 2px solid #38ef7d;width:25%; color: #11998e;}
.form-container .my-account-details-form .user-row{width: 100%; display:flex;flex-wrap: wrap; justify-content: space-between;}
.form-container .my-account-details-form .user-details-container{display: flex; flex-direction: column;}
.form-container .my-account-details-form .user-details-container .input-label{text-align: left; color: var(--subtext-colour);font-size: 0.8rem;}
.form-container .my-account-details-form .user-details-container .input-box{padding: 10px;margin: 0 0 25px;width: 325px;border-radius: 5px; border: none;border-bottom: 1.5px solid grey;font-size:1rem;}
.form-container .my-account-details-form .user-details-container .input-box-long{padding: 10px;margin: 0 0 25px;width: 100%;border-radius: 5px; border: none;border-bottom: 1.5px solid grey;font-size:1rem;}
.form-container .my-account-details-form .user-details-container .input-box:focus{border-image: linear-gradient(to right, #11998e, #38ef7d);border-image-slice: 1;outline: none;}
.form-container .my-account-details-form .user-details-container .input-box-long:focus{border-image: linear-gradient(to right, #11998e, #38ef7d);border-image-slice: 1;outline: none;}
.my-account-page .page-content .security-container{position: relative;width:0%;bottom: 0;left: 100%;right: 0;overflow: hidden;height: 100%;transition: .5s ease;}
.my-account-page .page-content .password-and-security-container .security-content{}
.save-my-account-details-container{display: flex;justify-content: flex-start;}

.js-show-widget{width: 100% !important;left: 0 !important;}

/* Please log in page */
.please-log-in-page{height: 80vh;}
.please-log-in-page .please-log-in-container{display: flex;align-items: center;border: 1px solid red;margin-top: 2vh;padding: 1vh;border-radius: 5px;}
.please-log-in-page .please-log-in-container .warning{height: 25px;}

/* FAQs */
.FAQs{height: 100%;background-color: var(--grey-white);display: flex; flex-direction: column;}
.FAQs .title-container{margin: 0;padding-left: 10%;padding-top: 20px;}
.generic-title{margin: 0;font-size: 2.5rem;}
.FAQs .title-container .subtext{font-size: 0.9rem;margin: 5px 0;color: var(--purple-grey)}
.FAQs .search-form-container{display: flex;flex-direction: column;align-items: center;gap: 10px;padding: 20px 0;}
.FAQs .FAQs-text{font-size: 1.2rem;}
.FAQs .FAQs-text.getInTouch{color: white;}
.FAQs .common-faqs{padding: 0 10% 20px 10%; flex: 1;position: relative;}
.FAQs .common-faqs .general-questions-title{font-size: 1.85rem;padding-bottom: 10px;padding-left: 15px;}
.FAQs .common-faqs .common-questions-container .general-question-container{height: 42px;overflow: hidden;transition: 0.45s ease; animation: expand;}
.expand {height: 70px !important;}
.FAQs .common-faqs .common-questions-container .general-question{display: flex; flex-wrap: nowrap;align-items: center;padding: 10px 0;font-size: 1.4rem;justify-content: space-between;border-top: 1px solid black;cursor: pointer;}
.FAQs .common-faqs .common-questions-container .general-question .question{margin: 0 50px 0 15px;}
.FAQs .common-faqs .common-questions-container .faq-answer{padding: 0px 50px 10px 15px}
.event-search-form.large{width: 600px;}
.FAQs .further-questions-container{background-image: url('../assets/faq-dog.jpg');min-height: 375px;background-repeat: no-repeat;background-size: 100% 100%;}
.FAQs .further-questions-container .further-questions-text-container{padding: 40px 50px;}

.drop-down-arrow-wrapper{margin-right: 15px;display: block;transition: 0.15s ease;}
.drop-down-arrow-wrapper.active .arrow {transform: rotate(45deg) translate(-5px,-5px)}
.drop-down-arrow-wrapper.active .arrow:before{transform: translate(10px,0)}
.drop-down-arrow-wrapper.active .arrow:after{transform: rotate(90deg) translate(10px,0)}
.arrow{width: 13px; height: 13px;position: relative;bottom: -4px;left: -10px;transition: 0.5s ease;margin-top: 2px;text-align: left;transform: rotate(45deg);float: right;}
.arrow:before{position: absolute;content: '';width: 12px;height: 3px;background-color: var(--purple-grey) ;transition: 0.4s ease}
.arrow:after{content: '';width: 12px;height: 3px; background-color: var(--brown-orange);transition: 0.4s ease;position: absolute;transform: rotate(90deg);top: -5px;left: 5px}

.tippy-box[data-theme~="custom"] {
    background-color: black;
    color: white;
    border: 1px solid #ededed;
    border-radius: 10px;
    text-align: center;
}