mixin pleaseLogIn()
    .please-log-in-page
        .please-log-in-container
            img.warning(src='/assets/alert.svg')
            p You must be logged in to access this page. Please log in or create an account and try again.